body {
    font-family: 'Courier New', Courier, monospace;
}

#book-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.book-card {
    background-color: rgb(239, 237, 232);
    border: 1px solid #ccc;
    padding: 1rem;
    width: 200px;
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

button {
    border-radius: 5px;
    font-family: 'Courier New', Courier, monospace;
    cursor: pointer;
}

.remove-book {
    flex-direction: row;
}

.read-status {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #333;
    border-radius: 5px;
    background-color: #fff;
    position: relative;
    cursor: pointer;
    transition: background-color 0.3s, border 0.3s;
    vertical-align: middle;
}

.read-status:checked::after {
    content: '';
    position: absolute;
    top: 0px;
    left: 5px;
    width: 5px;
    height: 10px;
    border: solid #fff;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}

.read-status:checked {
    background-color: #000;
    border-color: #000;
}

footer {
    position: fixed;
    bottom: 0;
}

dialog {
    animation: fade-out 0.3s ease-out;
}
  
dialog[open] {
    animation: fade-in 0.3s ease-out;
}
  
dialog[open]::backdrop {
    animation: backdrop-fade-in 0.7s ease-out forwards;
}
    
@keyframes fade-in {
    0% {
        opacity: 0;
        transform: scaleY(0);
        display: none;
    }
  
    100% {
        opacity: 1;
        transform: scaleY(1);
        display: block;
    }
}
  
@keyframes fade-out {
    0% {
      opacity: 1;
      transform: scaleY(1);
      display: block;
    }
  
    100% {
      opacity: 0;
      transform: scaleY(0);
      display: none;
    }
}
  
@keyframes backdrop-fade-in {
    0% {
      background-color: rgb(0 0 0 / 0%);
    }
  
    100% {
      background-color: rgb(0 0 0 / 25%);
    }
}
  